{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gato</title>
    <link rel="stylesheet" href="{%static './css/gatocss.css'%}" type="text/css"/>
</head>

<body>
    <div class="container">
        <h1>Gato</h1>
        <div class="play-area">

        </div>
        <h2 id="winner"></h2>
        <button onclick="reset_board()">INICIAR / REINICIAR</button>
    </div>
    <script src="{% static './js/gatogame.js' %}"></script>
</body>

</html>