{% load static %}
<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Simon Dice</title>
		
		<style type="text/css">
		body
		{
			text-align: center;
			background: #34495e;
			color: white; 
		}
		</style>
	
	
	</head>
<body>
	
	<h1>Simon Dice</h1>
	<canvas width = "250" height = "250" id="rojo"></canvas>
	<canvas width = "250" height = "250" id="azul"></canvas> <br/>
	<canvas width = "250" height = "250" id="amarillo"></canvas>
	<canvas width = "250" height = "250" id="verde"></canvas>
	<p> Primero ve la secuencia y luego repítela apretando sobre los colores</p>
	<p><input type="button" id="boton" value="Iniciar"/></p>
	<script type="text/javascript"></script>
	
	</script>
	<script src="{% static './js/simon.js' %}"></script>
</body>
</html>