{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Word Seach</title>
  <link rel="stylesheet" href="{%static '/css/styleSL.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<title>Word Search!</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fresca">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Happy+Monkey">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
	<div id="main">
		<div class="left">
      <div class="letters">
        <canvas id="a" width="800" height="800"></canvas>
        <canvas id="c" width="800" height="800"></canvas>
      </div>
    </div>
    <div class="right">
      <div class="words">
      </div>
  	</div>
  </div>
</body>
</html>
<!-- partial -->
  <script  src="{%static '/js/scriptSL.js'%}"></script>

</body>
</html>
