@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.menu {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/833/889/original/coronavirus-global-pandemic-outbreak-vector.jpg");
  
}
.menu h1 {
  font-size: 65px;
  text-transform: uppercase;
  color: #fff;
}
.menu .difficult-select {
  margin: 20px 0;
  border: 1px solid #fff;
  padding: 5px 15px;
  font-size: 15px;
}
.menu .score-box {
  display: none;
  color: #fff;
  margin: 0 0 10px 0;
}
.menu #startBtn {
  width: 200px;
  padding: 10px 20px;
  font-size: 25px;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.menu #startBtn:hover {
  background: #fff;
  color: #000;
}

.board {
  display: none;
  background: url("https://previews.123rf.com/images/pancaketom/pancaketom1404/pancaketom140400008/27320989-background-texture-of-black-ink-on-white-paper-with-many-concentric-curved-lines-Stock-Photo.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
}
.board .scope {
  display: none;
  position: absolute;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  box-shadow: 0 0 0 9999px black;
  z-index: 3;
}
.board .time-box {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #fff;
  padding: 10px 20px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .wally {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 120px;
  background: url("https://lh3.googleusercontent.com/k1kkgMo4cJi6gPKN0Mgx5qH05lBeLKDadj8bdDgk71QjFyRggu2JQTkJb6GY8Co5yIHDQNVfQZ46P9qdFAqlYHhS4SH1uIJVMi6znzjwBomUoUmzmUUIf92yfy6rtynYaIbKp-uZqNWnV49xnGVG_guJ_QHSKiZM48-3xY1qXSgzo0vAXrjqtFBPbQu2-k3FDzdeBgS30wr4ZVVlFCsG4LkumWqFrKiC_UR76y8qgh4udRQrCrmVqtADqEWQvSe4lRJeY6wjMuk_Hkw2aDmm9bWaMGZ4YEcaTZWmrougeQGiD_85-IeXHHTC2i1IfO4DHLFRtgGUiwfrDvM18TxNgCH8yjajcJum0J7mtqFr3RAMpUiy2okhalvW-Zj5fTqNLSHTuAarIEqMftfxFBkU6p_JikRolE9CMhZhKvnEiDIcHrlN-XfPkovT8fcy3QnakXaRlkfOoZQIAin5egRkfkE1X0WJq93oRsbq6e1DonICuHv9XaDsSfOT-kfZ2DMeAR_ta6F-DTcLJJJa4sFNTZcvLbVEWi-Q1uZ3crEttN8-MR1bdT3N_dtpeRanRWO38F1GhK2-dnuroqThh4WwMbYjjGyw3DDuXbI5AVpk22L2h-9Da7rUKDNJ8EDMaG_JOM6ehAWDBL7ICvRSEZdlpLAyLW2JPpl7KU2mUpXkrKkN0kZxf9VDOYWK0gZx3CU=w80-h101-no?authuser=0");
  background-size: cover;
  cursor: pointer;
}